@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #444;
  --background-color: #f8f9fa;
  --box-shadow-color: #eae9e9;
  --button-background-color: #e9e9e9;
  --box-border-color: #d1d1d1;
  --answer-border-color: #bbbbbb;

  --blue-color-1: #4680ff;
  --blue-color-2: #1c76da;
  --blue-color-3: #2d69f0;
  --green-color-1: #1fbb58;
  --green-color-2: #28a745;
  --red-color-1: #dc3545;
  --red-color-2: #9b2226;
  --yellow-color: #ffc107;

  --sidebar-width: min(380px, 100vw);
  --navbar-height: 60px;
  --test-container-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  justify-items: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 8px;
}

[data-theme="dark"] {
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #bdbdbd;
  --background-color: #1f1f1f;
  --box-shadow-color: #141414;
  --button-background-color: #2b2b2b;
  --box-border-color: #2e2e2e;
  --answer-border-color: #3f3f3f;
}

.App,
.Navbar,
.Sidebar,
.Main {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  transition: color 150ms ease, background-color 150ms ease;
}

.Navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  padding: 16px 8px;
  box-shadow: 0 2px var(--box-shadow-color);
  z-index: 3;

  & .SubjectNameContainer {
    display: flex;
    width: 100%;
  }
}

.TestNavbarContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: var(--test-container-width);

  & .BtnSubmitTestContainer {
    margin-left: auto;
  }

  & .BtnSubmitTest {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    padding: 0px;
    width: 120px;
    height: 46px;
    color: #ffffff;
    background: var(--green-color-1);
    border-radius: 4px;
  }
}

.NavbarItem {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 4px;
  text-wrap: balance;

  & * {
    color: var(--secondary-text-color);
  }
}

.BtnHamburger {
  padding: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-background-color);
  border-radius: 8px;
  margin-right: 10px;
}

.BtnHamburgerIcon {
  transition: transform 350ms ease;

  &.active {
    transform: rotate(90deg);
  }
}

.BtnToggleTheme {
  font-size: 10px;
  padding: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-background-color);
  border-radius: 8px;

  & * {
    padding: 2px;
  }
}

.Main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: var(--navbar-height);
  z-index: 0;
}

.Sidebar {
  position: fixed;
  display: flex;
  width: var(--sidebar-width);
  height: 100%;
  overflow-y: scroll;
  transition: transform 350ms ease, width 350ms ease;
  z-index: 2;
  border-right: 1px solid var(--box-border-color);
  padding-top: 10px;

  &.hide {
    transform: translateX(calc(var(--sidebar-width) * -1));
  }
}

.SidebarGroupItem {
  width: 100%;
  padding: 4px 6px 4px 12px;
  box-sizing: border-box;
  list-style: none;

  & > button {
    padding: 12px 10px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  &.selected > button {
    background-color: #1e7fee1e;
    color: var(--blue-color-3);
    border-radius: 12px;
  }

  &.selected span {
    border-left: 2px solid var(--blue-color-3);
  }

  &.selected .icon {
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }
}

.SidebarGroupItemContainer {
  width: 100%;
  display: flex;
  align-items: center;

  & span {
    width: 100%;
    padding: 0px 0px 0px 8px;
    border-left: 2px solid var(--background-color);
  }
}

.SidebarItemsContainer {
  display: none;
  font-size: 15px;
  padding: 8px 10px 0px 10px;

  &.show {
    display: block;
  }

  & ul {
    list-style: none;
  }

  & button {
    text-align: left;
    width: 100%;
    padding: 4px 0px;
  }
}

.SidebarItem.selected {
  color: var(--blue-color-3);
}

.CourseInfo {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 350ms ease, width 350ms ease;

  &.shrink {
    @media screen and not (max-width: 768px) {
      transform: translateX(var(--sidebar-width));
      width: calc(100% - var(--sidebar-width));
    }
  }
}

.CourseInfoTableName * {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
}

.CourseInfoTableRow {
  & th {
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    text-align: right;
  }

  & td {
    font-size: 14px;
    padding: 10px;
    text-align: left;
  }

  &:has(.BtnDoTest) th {
    text-align: center;
  }
}

.BtnDoTest {
  padding: 0px;
  width: 200px;
  height: 40px;
  color: #e0e0e0;
  background: var(--blue-color-2);
  border-radius: 4px;
}

.icon {
  vertical-align: middle;
  margin: 6px;
}

.TestContainer {
  margin-left: auto;
  margin-right: auto;
  width: var(--test-container-width);
}

.RadioQuestion,
.CheckboxQuestion {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 32px 20px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--box-border-color);
  min-height: 360px;

  & .QuestionContainerDirection {
    padding: 20px;

    & span {
      color: inherit !important;
      background-color: inherit !important;
    }
  }

  & .QuestionContainerNumber {
    font-weight: 700;
    line-height: 2.2;
  }
}

.AnswerOptions {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 20px;
}

.RadioAnswerOption,
.CheckboxAnswerOption {
  display: flex;
  flex-basis: 50%;
  align-items: baseline;
  padding: 10px 24px 10px 0px;
  gap: 8px;

  & label {
    display: flex;
    align-items: baseline;
    padding: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--answer-border-color);
  }

  @media screen and (max-width: 900px) {
    & {
      flex-basis: 100%;
    }
  }
}

.AnswerOptionBullet {
  font-weight: 700;
  margin: 12px;
}

.AnswerOptionText {
  padding-left: 16px;
  font-size: 15px;

  & span {
    color: inherit !important;
    background-color: inherit !important;
  }
}
